* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* ---------styles for 01-color-switcher.html-------- */
.wrapper-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 400px;
}
.switcher-btn {
  padding: 8px 12px;
  text-transform: uppercase;
}

/* ---------styles for 02-timer.html-------- */
.field {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.timer {
  display: flex;
  gap: 10px;
}
.label {
  font-size: 12px;
  text-transform: uppercase;
}
.value {
  font-size: 35px;
}